<!-- Start Header -->
<%- include('../templates/headeradmin.ejs') %>
<!-- End Header -->

<!-- Start Loader -->
<%- include('../templates/loader.ejs') %>
<!-- End Loader -->

<!-- Start Navigation Bar-->
<header id="topnav">
    <!-- Start Topbar-main -->
    <%- include('../templates/topbaradmin.ejs') %>
    <!-- End Topbar-main -->

    <!-- Start Navbar -->
    <%- include('../templates/navbaradmin.ejs') %>
    <!-- End Navbar -->
</header>
<!-- End Navigation Bar-->

<!-- Start Wrapper -->
<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#"></a>Master</li>
                            <li class="breadcrumb-item active">Transaction</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Data Master Transaction</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <!--====START CONTENT HERE =====-->
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h4 class="mt-0 header-title">Halaman data transaction</h4>
                        <p class="text-muted m-b-30 font-14">
                            Pada halaman ini anda dapat menambahkan data, mengedit data, dan menghapus data transaction.
                        </p>

                        <a href="#" class="btn btn-primary waves-effect waves-light mb-3" data-toggle="modal"
                            data-target="#newTambahTransaction">Tambah Data Transaction</a>

                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th>Nama Customer</th>
                                        <th>Total Harga</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <% no = 1 %>

                                    <% dataTransaction.forEach(transaction => { %>
                                    <tr class="text-center">
                                        <th scope="row"><%= no %></th>

                                        <% if(transaction.customer == null) { %>
                                        <td> <i>Nama Customer Tidak di Temukan</i> </td>
                                        <% } else { %>
                                        <td><%= transaction.customer.name %></td>
                                        <% } %>

                                        <td><%= convertRupiah.convert(transaction.totalPrice) %></td>

                                        <td>
                                            <a href="#"><span class="badge badge-success" data-toggle="modal"
                                                    data-target="#editTransaction<%= transaction.id %>">Edit</span></a>
                                            <a href="/api/transactions/delete/<%= transaction.id %>"><span
                                                    class="badge badge-danger ml-3">Delete</span></a>
                                        </td>
                                    </tr>
                                    <%no++ %>
                                    <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--====END CONTENT HERE =====-->
        </div>
        <!-- end row -->
    </div> <!-- end container -->
</div>
<!-- End Wrapper -->

<!-- Start Tambah Transaction -->
<div class="modal fade" id="newTambahTransaction" tabindex="-1" aria-labelledby="newTambahTransactionLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTambahTransactionLabel">Tambah Transaction Baru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/transactions/add" method="POST">
                <div class="modal-body">
                    <div id="list_product">
                        <div class="form-group isi_product">
                            <label for="product_Id">Nama Produk</label><br>
                            <select class="form-control selectpicker" data-live-search="true" autocomplete="off"
                                required name="product_Id[]" id="product_Id">
                                <option value="">- Pilih Nama Produk -</option>
                                <% dataProduct.forEach(product => { %>
                                <option value="<%= product.id %>"><%= product.name %></option>
                                <% } ) %>
                            </select>
                        </div>
                    </div>

                    <a href="javascript:void(0);" class="btn btn-sm btn-primary tambah-product">Tambah Product</a>

                    <div class="form-group mt-3">
                        <label for="customer_Id">Nama Customer</label><br>
                        <select class="form-control selectpicker" data-live-search="true" autocomplete="off" required
                            name="customer_Id" id="customer_Id">
                            <option value="">- Pilih Nama Customer -</option>
                            <% dataCustomer.forEach(customer => { %>
                            <option value="<%= customer.id %>"><%= customer.name %></option>
                            <% } ) %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Tambah Customer -->

<!-- Start Edit Customer -->
<% dataTransaction.forEach(transaction => { %>
<div class="modal fade" id="editTransaction<%= transaction.id %>" tabindex="-1" aria-labelledby="editTransactionLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTransactionLabel">Edit Transaction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/transactions/edit/<%= transaction.id %>" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="product_Id">Nama Produk</label><br>
                        <select class="form-control selectpicker" data-live-search="true" autocomplete="off" required
                            name="product_Id" id="product_Id">
                            <option value="">- Pilih Nama Produk -</option>
                            <% dataProduct.forEach(product => { %>
                            <option value="<%= product.id %>"><%= product.name %></option>
                            <% } ) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="customer_Id">Nama Customer</label><br>
                        <select class="form-control selectpicker" data-live-search="true" autocomplete="off" required
                            name="customer_Id" id="customer_Id">
                            <option value="">- Pilih Nama Customer -</option>
                            <% dataCustomer.forEach(customer => { %>
                            <option value="<%= customer.id %>"><%= customer.name %></option>
                            <% } ) %>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% })%>
<!-- End Edit Customer -->

<!-- Start Footer Text -->
<%- include('../templates/footertextadmin.ejs') %>
<!-- End Footer Text -->

<!-- Start Footer -->
<%- include('../templates/footertransactionadmin.ejs') %>
<!-- End Footer -->