<!-- Start Header -->
<%- include('../templates/headeradmin.ejs') %>
<!-- End Header -->

<!-- Start Loader -->
<%- include('../templates/loader.ejs') %>
<!-- End Loader -->

<!-- Start Navigation Bar-->
<header id="topnav">
    <!-- Start Topbar-main -->
    <%- include('../templates/topbaradmin.ejs') %>
    <!-- End Topbar-main -->

    <!-- Start Navbar -->
    <%- include('../templates/navbaradmin.ejs') %>
    <!-- End Navbar -->
</header>
<!-- End Navigation Bar-->

<!-- Start Wrapper -->
<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group float-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a href="#"></a>Master</li>
                            <li class="breadcrumb-item active">Brand</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Data Master Brand</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->

        <div class="row">
            <!--====START CONTENT HERE =====-->
            <div class="col-lg-12">
                <div class="card m-b-30">
                    <div class="card-body">

                        <h4 class="mt-0 header-title">Halaman data brand</h4>
                        <p class="text-muted m-b-30 font-14">
                            Pada halaman ini anda dapat menambahkan data, mengedit data, dan menghapus data brand.
                        </p>

                        <a href="#" class="btn btn-primary waves-effect waves-light mb-3" data-toggle="modal"
                            data-target="#newTambahProduct">Tambah Data Brand</a>

                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead class="text-center">
                                    <tr>
                                        <th>#</th>
                                        <th>Nama Produk</th>
                                        <th>Deskripsi Produk</th>
                                        <th>Nama Brand</th>
                                        <th>Gambar Produk</th>
                                        <th>Ukuran</th>
                                        <th>Harga</th>
                                        <th>Stok</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <% no = 1 %>

                                    <% dataProduct.forEach(product => { %>
                                    <tr class="text-center">
                                        <th scope="row"><%= no %></th>
                                        <td><%= product.name %></td>
                                        <td><%= product.description %></td>

                                        <% if(product.brand == null) { %>
                                        <td><i>Nama Brand Tidak di Temukan</i></td>
                                        <% } else { %>
                                        <td><%= product.brand.name %></td>
                                        <%}%>

                                        <td>
                                            <img src="<%= product.image %>" width="200" height="150">
                                        </td>
                                        <td><%= product.size %></td>
                                        <td><%= convertRupiah.convert(product.price) %></td>
                                        <td><%= product.stock %></td>
                                        <td>
                                            <a href="#"><span class="badge badge-success" data-toggle="modal"
                                                    data-target="#editProduct<%= product.id %>">Edit</span></a>
                                            <a href="/api/products/delete/<%= product.id %>"><span
                                                    class="badge badge-danger ml-3">Delete</span></a>
                                        </td>
                                    </tr>
                                    <%no++ %>
                                    <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--====END CONTENT HERE =====-->
        </div>
        <!-- end row -->
    </div> <!-- end container -->
</div>
<!-- End Wrapper -->

<!-- Start Tambah Product -->
<div class="modal fade" id="newTambahProduct" tabindex="-1" aria-labelledby="newTambahProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTambahProductLabel">Tambah Produk Baru</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/products/add" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama Product</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Input Nama Brand"
                            autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Deskripsi Product</label>
                        <input type="text" class="form-control" id="description" name="description"
                            placeholder="Input Deskripsi Produk" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="brand_Id">Nama Brand</label><br>
                        <select class="form-control selectpicker" data-live-search="true" autocomplete="off" required
                            name="brand_Id" id="brand_Id">
                            <option value="">- Pilih Nama Brand -</option>
                            <% dataBrand.forEach(brand => { %>
                            <option value="<%= brand.id %>">
                                <%= brand.name %>
                                -
                                <% if(brand.category == null) { %>
                                Kategori Tidak Ada
                                <% } else { %>
                                <%= brand.category.name %>
                                <% } %>
                            </option>
                            <% } ) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Gambar Produk</label>
                        <input type="text" class="form-control" id="image" name="image"
                            placeholder="Input Link Gambar Produk" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="size">Ukuran Product</label>
                        <input maxlength="2" type="text" class="form-control" id="size" name="size"
                            onkeypress="isInputNumber(event)" placeholder="Input Ukuran Produk" autocomplete="off"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="price">Harga</label>
                        <input class="form-control" type="text" onkeypress="isInputNumber(event)" autocomplete="off"
                            placeholder="Input Harga Produk" id="price" name="price">
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input class="form-control" type="text" onkeypress="isInputNumber(event)" autocomplete="off"
                            placeholder="Input Harga Produk" id="stock" name="stock">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Tambah Product -->

<!-- Start Edit Product -->
<% dataProduct.forEach(product => { %>
<div class="modal fade" id="editProduct<%= product.id %>" tabindex="-1" aria-labelledby="editProductLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/api/products/edit/<%= product.id %>" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nama Product</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Input Nama Brand"
                            value="<%= product.name %>" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Deskripsi Product</label>
                        <input type="text" class="form-control" id="description" name="description"
                            value="<%= product.description %>" placeholder="Input Deskripsi Produk" autocomplete="off"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="brand_Id">Nama Brand</label><br>
                        <select class="form-control selectpicker" data-live-search="true" autocomplete="off" required
                            name="brand_Id" id="brand_Id">
                            <option value="">- Pilih Nama Brand -</option>
                            <% dataBrand.forEach(brand => { %>
                            <option value="<%= brand.id %>">
                                <%= brand.name %>
                                -
                                <% if(brand.category == null) { %>
                                Kategori Tidak Ada
                                <% } else { %>
                                <%= brand.category.name %>
                                <% } %>
                            </option>
                            <% } ) %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="preview_image_product">Preview Gambar Produk</label>
                        <div class="row">
                            <div class="col">
                                <img src="<%= product.image %>" width="200" height="150" alt="preview-image-product">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Gambar Produk</label>
                        <input type="text" class="form-control" id="image" name="image"
                            placeholder="Input Link Gambar Produk" autocomplete="off" value="<%= product.image %>"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="size">Ukuran Product</label>
                        <input maxlength="2" type="text" class="form-control" id="size" name="size"
                            onkeypress="isInputNumber(event)" placeholder="Input Ukuran Produk" autocomplete="off"
                            value="<%= product.size %>" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Harga</label>
                        <input class="form-control" type="text" onkeypress="isInputNumber(event)" autocomplete="off"
                            placeholder="Input Harga Produk" id="price" name="price" value="<%= product.price %>">
                    </div>
                    <div class="form-group">
                        <label for="stock">Stock</label>
                        <input class="form-control" type="text" onkeypress="isInputNumber(event)" autocomplete="off"
                            placeholder="Input Harga Produk" id="stock" name="stock" value="<%= product.stock %>">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<% })%>
<!-- End Edit Product -->

<!-- Start Footer Text -->
<%- include('../templates/footertextadmin.ejs') %>
<!-- End Footer Text -->

<!-- Start Footer -->
<%- include('../templates/footeradmin.ejs') %>
<!-- End Footer -->